<section class = "bg-orange-50 dark:bg-slate-600">
    <h2 class = "proj text-center pt-10 text-2xl lg:text-3xl md:text-3xl text-neutral-400 dark:text-zinc-300" data-aos="zoom-in-up" >PROJECT - 2024</h2>
    <h1 class = "proj text-center pt-5 pb-5 text-4xl md:text-5xl lg:text-6xl project" style = "color:#f3bec9;" data-aos="zoom-in-up"> </h1>
    <br>
    <div class = "bg-violet-300 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="card3.png" alt="Tower Ground - Business Card">
        </div>
    </div>
    

    <section class="text-gray-600 body-font dark:text-zinc-300 lg:mx-40 md:mx-20 mx-5" data-aos="zoom-in-up">
        <div class="container lg:px-24 lg:py-20 p-10 mx-auto flex flex-wrap">
            <div class = "md:w-2/5 mb-2 ">
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#747eb1;">ROLE:</h3>
                <p class = "proj text-xl dark:text-stone-200">Graphic Designer</p>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#747eb1;">TOOLS: </h3>
                <p class = "proj text-xl dark:text-stone-200">Canva</p>
                <br>
            </div>
            
          
          <div class="md:w-3/5 md:pl-6">
            
            <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#747eb1;">This project is scenario-specific; we were to design a logo and a business card based on the business's identity.</h3>
            <br>
            <p class="leading-relaxed text-base dark:text-stone-200 descrip">I came up with this design since it was about Real Estate. I made the logo from scratch, and to signify that it is real estate, I used a roof shape at the top. For the business card, I made sure to use the color that I used for the logo to be consistent. Additionally, I used grainy texture to symbolize the fact that it was about a real estate developer and that every project starts from the ground. 
            </p>
             
          </div>
        </div>
      </section> 

      <div class = "bg-violet-300 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="card1.png" alt="Tower Ground - Front">
        </div>
    </div>

    <div class = "bg-violet-300 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mt-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="card2.png" alt="Tower Ground Back">
        </div>
    </div>

    

      <br><br>

      
</section>


