<div class="bg-orange-50 dark:bg-slate-950">
  <section class="mx-auto  max-w-[1920px] min-w-[280px] py-8 px-4 sm:px-8 md:px-10 lg:px-[100px] " data-aos="fade-up">
    <div
      class="w-full flex flex-col lg:flex-row  items-center  py-10 sm:py-12 md:py-14 lg:py-14  px-2  sm:px-4 md:px-8 xl:px-16">
      <img class="w-full lg:w-1/2 xl:w-full max-w-[450px] rounded-3xl mb-3 transform hover:scale-105 hover:shadow-lg" src="photo-about-portfolio.png" alt="about image">
      <div class="text-center lg:text-left lg:ml-12">
        <h3 class=" text-2xl lg:text-2xl md:text-2xl mb-2 font-medium dark:text-stone-200 position " style = "color: #a7b5fe">HEY THERE!</h3>
          <h2 class="title-font text-4xl lg:text-5xl md:text-4xl mb-6 font-medium text-[#747eb1] name">I'm Gabrielle Delos Santos
          </h2>
          
        <p class="mb-3 leading-relaxed dark:text-white descrip text-justify text-gray-600"> <b>"Building my dreams through building websites!"</b> I am <b>3rd year WebDev Student</b> studying at Holy Angel University. Currently, I am more focused in <b>Front-end Development</b>, <b>Graphic Designing</b>, and <b>Web Designing</b>. This emerges from my ability to plan and create aesthetically pleasing and responsive websites (and its content!) using the knowledge I've acquired from my education and independent studies.

        </p>
        <p class="leading-relaxed text-2xl text-[#747eb1] socials">
          LET'S CONNECT!
        </p>
        <span class="inline-flex mt-3 justify-center sm:justify-start gap-4">
          <a href="mailto:gabmrds@gmail.com" class="text-gray-500 dark:text-zinc-300 inline-flex items-center md:mb-2 lg:mb-0 transform hover:scale-105">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
            </svg>
          </a>

            <a class="text-gray-500 dark:text-zinc-300 inline-flex items-center md:mb-2 lg:mb-0 transform hover:scale-105 " href="https://www.instagram.com/gab_mrds/"
                target="_blank">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
            </a>
            
            <a class="text-gray-500 dark:text-zinc-300 inline-flex items-center md:mb-2 lg:mb-0 transform hover:scale-105" href="https://github.com/gabbie-mrds"
            target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                  </svg>
            </a>
            <a class="text-gray-500 dark:text-zinc-300 inline-flex items-center md:mb-2 lg:mb-0 transform hover:scale-105" href="https://t.me/gmr_dls"
            target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01-.567.225-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294q.39.01.868-.32 3.269-2.206 3.374-2.23c.05-.012.12-.026.166.016s.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8 8 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629q.14.092.27.187c.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.4 1.4 0 0 0-.013-.315.34.34 0 0 0-.114-.217.53.53 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"/>
                  </svg>
            </a>
        </span>
      </div>
    </div>
  </section>
</div>

<!--SKILLS-->

<div class="lg:px-24 md:px-24 px-12 bg-stone-50 dark:bg-slate-600">
  <br><br>
  <h2 class="title-font text-4xl lg:text-5xl md:text-4xl font-medium text-[#f3bec9] name text-center">TECHNICAL SKILLS</h2>
  <br><br>
  <div class="lg:grid lg:grid-cols-2 lg:gap-6">

    <!---->
    <div class="w-full flex flex-col gap-2 lg:px-12 md:px-8 ">
      <h2 class="title-font text-2xl lg:text-3xl md:text-3xl font-medium text-[#747eb1] name text-center lg:mt-0">LANGUAGES</h2>
      
      <!-- Progress bar 1 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>WordPress</span>
          <span>92 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[92%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 2 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>HTML/CSS/Javascript</span>
          <span>90 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[90%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 3 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>PHP/Laravel</span>
          <span>80 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[80%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 4 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>Vue/Nuxt</span>
          <span>85 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[85%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 4 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>Nestjs</span>
          <span>70 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[70%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
    </div>

    <!-- -->
    
    
    <div class="w-full flex flex-col gap-2 lg:px-12 md:px-8">
      <h2 class="title-font text-2xl lg:text-3xl md:text-3xl font-medium text-[#747eb1] name text-center lg:mt-0 md:mt-8 mt-8">LANGUAGES</h2>
      <!-- Progress bar 1 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>WordPress</span>
          <span>92 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[92%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 2 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>HTML/CSS/Javascript</span>
          <span>90 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[90%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 3 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>PHP/Laravel</span>
          <span>80 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[80%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 4 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>Vue/Nuxt</span>
          <span>85 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[85%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    
      <!-- Progress bar 4 -->
      <div class="flex flex-col gap-2">
        <div class="w-full flex justify-between font-semibold">
          <span>Nestjs</span>
          <span>70 %</span>
        </div>
        <!-- Progress bar -->
        <div class="w-full bg-gray-300 rounded-full">
          <div class="w-[70%] h-2 bg-rose-500 rounded-full"></div>
        </div>
      </div>
    </div>
  </div>

  <br><br>
</div>


<!--CERTIFICATES-->
<div class="bg-orange-50 dark:bg-slate-950">
  <br><br>
  <h2 class="title-font text-4xl lg:text-5xl md:text-4xl mb-11 font-medium text-[#f3bec9] name text-center">MY CERTIFICATES AND TRAININGS</h2>
  <br>
  <div class="flex justify-center items-center">
    <div class="lg:grid lg:grid-cols-3 lg:gap-4 lg:mx-20 md:mx-10 md:my-2 lg:my-0 mx-4">

      <div *ngFor = "let cert of certs" data-aos="zoom-in-up">
        <div class="transition hover:scale-105 hover:-rotate-1" >
          <div class="flex justify-center">
            <img src = {{cert.img}} loading="lazy" class="object-center shadow-lg  w-[300px] h-[250px]">
          </div>
          <br>
          <p class = "text-center descrip text-gray-600 dark:text-white">{{cert.certName}}</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>