<section class = "bg-orange-50 dark:bg-slate-600">
    <h2 class = "proj text-center pt-10 text-2xl lg:text-3xl md:text-3xl text-neutral-400 dark:text-zinc-300" data-aos="zoom-in-up" >PROJECT - 2024</h2>
    <h1 class = "proj text-center pt-5 pb-5 text-4xl md:text-5xl lg:text-6xl project" style = "color:#747eb1;" data-aos="zoom-in-up"> </h1>
    <br>
    <div class = "bg-red-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="cc-home.jpg" alt="image description">
        </div>
    </div>

    <section class="text-gray-600 body-font dark:text-zinc-300 lg:mx-40 md:mx-20 mx-5" data-aos="zoom-in-up">
        <div class="container lg:px-24 lg:py-20  p-10 mx-auto flex flex-wrap">
            <div class = "md:w-2/5 mb-2 ">

                <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#f3bec9;">ROLE:</h3>
                <p class = "proj text-xl dark:text-stone-200">Front-end Developer</p>
                <h3 class=" text-2xl  font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">LIVE:</h3>
                <a class = "proj text-xl dark:text-stone-200" href = "https://cookie-corner.netlify.app/" target="_blank" style = "text-decoration: underline;">Cookie Corner</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">GITHUB REPO: </h3>
                <a class = "proj text-xl dark:text-stone-200" href="https://github.com/gabbie-mrds/prelim-project-cookie-corner" target="_blank" style = "text-decoration: underline;">Cookie Corner Repo</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">TOOLS: </h3>
                <p class = "proj text-xl dark:text-stone-200">AngularJS, Tailwind CSS</p>
                
            </div>
            
          
          <div class="md:w-3/5 md:pl-6">
            <br>
            <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#f3bec9;">This is a collaborated project that we did for one of our subjects. We were to develop and create a static e-commerce website using the AngularJS Framework.</h3>
            <br>
            <p class="leading-relaxed text-base dark:text-stone-200 descrip">We were given the freedom to design and build a website for a company or business, can be our own concept or an existing one. In light of this, we decided to develop our own concept and did everything from scratch, and we created an e-commerce website for a cookie shop.</p>
             
          </div>
        </div>
      </section> 

      

    <div class="lg:grid lg:grid-cols-2 gap-4 max-w-6xl lg:mx-auto md:mx-10 mx-10"  data-aos="zoom-in-up">
        <div class="mt-5">
            <div class="bg-red-200 dark:bg-gray-800 lg:px-10 lg:py-5 md:px-10 md:py-5 px-5 py-5 rounded-lg ">
                <img class="h-auto rounded-lg" src="cc-about.png" alt="Cookie Corner - About page">
                
            </div>
        </div>
        
        <div class="mt-5">
            <div class="bg-red-200 dark:bg-gray-800 lg:px-10 lg:py-6 md:px-10 md:py-5 px-5 py-5 rounded-lg ">
                <img class="h-auto rounded-lg" src="cc-team.png" alt="Cookie Corner - Team page">
            </div>
        </div>

      </div>

      <br><br>

      
</section>


