<section class = "bg-orange-50 dark:bg-slate-600">
    <h2 class = "proj text-center pt-10 text-2xl lg:text-3xl md:text-3xl text-neutral-400 dark:text-zinc-300" data-aos="zoom-in-up" >PROJECT - 2025</h2>
    <h1 class = "proj text-center pt-5 pb-5 text-4xl md:text-5xl lg:text-6xl project" style = "color:#f3bec9;" data-aos="zoom-in-up"> </h1>
    <br>
    <div data-aos="zoom-in-up">    
        <div class = "bg-violet-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5 transition hover:scale-105 hover:-rotate-1"  >
            <div class = "flex justify-center  pl-10 pr-10">
                
                <img class="h-auto lg:max-w-3xl rounded-lg" src="bangketa-home.png" alt="GabbieEats Home Page">
            </div>
        </div>
    </div>
    

    <section class="text-gray-600 body-font dark:text-zinc-300 lg:mx-40 md:mx-20 mx-5" data-aos="zoom-in-up">
        <div class="container lg:px-24 lg:py-20 p-10 mx-auto flex flex-wrap">
            <div class = "md:w-2/5 mb-2 ">
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#747eb1;">ROLE:</h3>
                <p class = "proj text-xl dark:text-stone-200">Frontend Developer and Web Designer</p>
                <h3 class=" text-2xl  font-medium dark:text-stone-200 proj pt-3" style = "color:#747eb1;">LIVE:</h3>
                <a class = "proj text-xl dark:text-stone-200" href = "https://bangketa-eskwela.netlify.app/" target="_blank" style = "text-decoration: underline;">Bangketa Eskwela</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#747eb1;">GITHUB REPO: </h3>
                <a class = "proj text-xl dark:text-stone-200" href="https://github.com/WD-302-GAREA/BANGKETA-ESKWELA" target="_blank" style = "text-decoration: underline;">Bangketa Eskwela Repo</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#747eb1;">TOOLS: </h3>
                <p class = "proj text-xl dark:text-stone-200">MongoDB, Express.js, AngularJS, Node.js, AOS, Tailwind CSS </p>
                <br>
            </div>
            
          
          <div class="md:w-3/5 md:pl-6">
            
            <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#747eb1;">This project is a collaborative output for one of my subjects, where we were tasked to select an existing NGO based in Pampanga.</h3>
            <br>
            <p class="leading-relaxed text-base dark:text-stone-200 descrip">This project is a full-stack website built using the MEAN stack. It showcases the organization’s mission and purpose, while also digitizing its initial Google Forms for volunteer applications. An admin dashboard was also developed, allowing administrators to view and manage volunteer applicants.
            </p>
             
          </div>
        </div>
      </section> 

    <div data-aos="zoom-in-up">
        <div class = "bg-violet-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5 hover:scale-105 transition duration-300 ease-in-out"  >
            <div class = "flex justify-center  pl-10 pr-10">
                
                <img class="h-auto lg:max-w-3xl rounded-lg" src="bangketa-services.png" alt="GabbieEats Blogs Page">
            </div>
        </div>
    </div>

    <div data-aos="zoom-in-up">
        <div class = "bg-violet-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mt-5 mb-5 hover:scale-105 transition duration-300 ease-in-out"  >
            <div class = "flex justify-center  pl-10 pr-10">
                
                <img class="h-auto lg:max-w-3xl rounded-lg" src="bangketa-volunteer.png" alt="GabbieEats Binondo Food Crawl Blog">
            </div>
        </div>
    </div>

      <br><br>

      
</section>


