.cookie, .gabbieeats{
    color: #747eb1
  }

  .cookie, .gabbieeats{
    text-decoration: underline;
    text-decoration-color: #747eb1;
  }

  .cookie:hover{
    color: #a7b5fe;
    text-decoration: underline;
    text-decoration-color: #a7b5fe;
  }

  .gabbieeats:hover{
    color: #a7b5fe;
    text-decoration: underline;
    text-decoration-color: #a7b5fe;
  }

  .project:after{
    position: center;
    content: "";
    width: 100%;
    height: 100%;
    line-height: 48px;
    left: 30%;
    top: 50%;
    animation: abomination1 1.5s linear 1;
    animation-fill-mode: forwards;
  }
  
  
    @keyframes abomination1 {
    0% {
      content: "P";
    }
    15% {
        content: "PR";
    }30% {
        content: "PRO";
    }45% {
        content: "PROJ";
    }60% {
        content: "PROJE";
    }75% {
        content: "PROJEC";
    }90% {
        content: "PROJECT";
    }100% {
        content: "PROJECTS";
    }
  }

