<section class = "bg-orange-50 dark:bg-slate-600">
    <h2 class = "proj text-center pt-10 text-2xl lg:text-3xl md:text-3xl text-neutral-400 dark:text-zinc-300" >PROJECT - 2023</h2>
    <h1 class = "proj text-center pt-5 pb-5 text-4xl md:text-5xl lg:text-6xl project" style = "color:#747eb1;"> </h1>
    <br>
    <div class = "bg-red-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="gnb-home.jpg" alt="image description">
        </div>
    </div>
    

    <section class="text-gray-600 body-font dark:text-zinc-300 lg:mx-40 md:mx-20 mx-5" data-aos="zoom-in-up">
        <div class="container lg:px-24 lg:py-20  p-10 mx-auto flex flex-wrap">
            <div class = "md:w-2/5 mb-2 ">
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#f3bec9;">ROLE:</h3>
                <p class = "proj text-xl dark:text-stone-200">Front-end Developer and Web Designer</p>
                <h3 class=" text-2xl  font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">LIVE:</h3>
                <a class = "proj text-xl dark:text-stone-200" href = "https://greensnbeans.netlify.app/" target="_blank" style = "text-decoration: underline;">Greens N Beans</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">GITHUB REPO: </h3>
                <a class = "proj text-xl dark:text-stone-200" href="https://github.com/gabbie-mrds/INTROWEB-FINAL-PROJ" target="_blank" style = "text-decoration: underline;">Greens N Beans Repo</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">TOOLS: </h3>
                <p class = "proj text-xl dark:text-stone-200">HTML, CSS, JavaScript</p>
            </div>
            
          
          <div class="md:w-3/5 md:pl-6">
            <br>
            <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#f3bec9;">This is the very first website that I created and designed. And the whole concept was made by me and it showcases what a coffee shop offers.</h3>
            <br>
            <p class="leading-relaxed text-base dark:text-stone-200 descrip">With this website I did not use any JavaScript or CSS Frameworks, it was only pure HTML and CSS. The concept behind this website is a local coffee shop that is located in La Union. From the colors, logo, design, and up to contents, I did all of them. Backstory, I remember the time that I created this I actually struggled a lot especially when it comes to CSS, that's why using CSS Frameworks is such a great help.</p>
             
          </div>
        </div>
      </section> 

    <div class="lg:grid lg:grid-cols-2 gap-4 max-w-6xl lg:mx-auto md:mx-10 mx-10"  data-aos="zoom-in-up">
        <div class="mt-5">
            <div class="bg-red-200 dark:bg-gray-800 lg:px-10 lg:py-5 md:px-10 md:py-5 px-5 py-5 rounded-lg ">
                <img class="h-auto rounded-lg" src="gnb-about.png" alt="GNB - About page">
                
            </div>
        </div>
        
        <div class="mt-5">
            <div class="bg-red-200 dark:bg-gray-800 lg:px-10 lg:py-6 md:px-10 md:py-5 px-5 py-5 rounded-lg ">
                <img class="h-auto rounded-lg" src="gnb-menu.png" alt="GNB - Menu page">
            </div>
        </div>

      </div>

      <br><br>

      
</section>


