/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;

.my-brand, .name-center, .name, .proj, .title-proj, .contact-title, .socials, .position {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }


.descrip, nav, footer, .abt-button, .title-descrip, .label-form, .contact-btn{
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

