<section class = "bg-orange-50 dark:bg-slate-600">
    <h2 class = "proj text-center pt-10 text-2xl lg:text-3xl md:text-3xl text-neutral-400 dark:text-zinc-300" data-aos="zoom-in-up" >PROJECT - 2026</h2>
    <h1 class = "proj text-center pt-5 pb-5 text-4xl md:text-5xl lg:text-6xl project" style = "color:#747eb1;" data-aos="zoom-in-up"> </h1>
    <br>
    <div data-aos="zoom-in-up">
        <div class = "bg-red-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5 transition hover:scale-105 hover:-rotate-1"  >
            <div class = "flex justify-center  pl-10 pr-10 ">
                
                <img class="h-auto lg:max-w-3xl rounded-lg" src="cc-home.jpg" alt="image description">
            </div>
        </div>
    </div>

    <section class="text-gray-600 body-font dark:text-zinc-300 lg:mx-40 md:mx-20 mx-5" data-aos="zoom-in-up">
        <div class="container lg:px-24 lg:py-20  p-10 mx-auto flex flex-wrap">
            <div class = "md:w-2/5 mb-2 ">

                <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#f3bec9;">ROLE:</h3>
                <p class = "proj text-xl dark:text-stone-200">Frontend Developer and UI/UX Developer</p>
                <!--<h3 class=" text-2xl  font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">LIVE:</h3>
                <a class = "proj text-xl dark:text-stone-200" href = "https://cookie-corner.netlify.app/" target="_blank" style = "text-decoration: underline;">Cookie Corner</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">GITHUB REPO: </h3>
                <a class = "proj text-xl dark:text-stone-200" href="https://github.com/ru-wel/WDCAP-HRIS" target="_blank" style = "text-decoration: underline;">HRIS Repo</a>-->
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#f3bec9;">TOOLS: </h3>
                <p class = "proj text-xl dark:text-stone-200">Supabase, Express.js, React, Node.js, Tailwind CSS, React-paginate,  React-calendar</p>
                
            </div>
            
          
          <div class="md:w-3/5 md:pl-6">
            <br>
            <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#f3bec9;">This project is a collaboratively developed capstone output focused on developing a Human Resource Information System for Arise Construction and Development Corporation.</h3>
            <br>
            <p class="leading-relaxed text-base dark:text-stone-200 descrip">This HRIS was developed in response to the locale’s reliance on manual workflows and physical records. Our team created the system to help ACDC transition from manual processes to a more efficient digital solution. The system's features are aligned with the organization’s specific needs and workflows, and it has the potential to support broader digital transformation within construction firms in the Philippines.
          </div>
        </div>
      </section> 

      

    <div class="lg:grid lg:grid-cols-2 gap-4 max-w-6xl lg:mx-auto md:mx-10 mx-10"  data-aos="zoom-in-up">
        <div class="mt-5">
            <div class="bg-red-200 dark:bg-gray-800 lg:px-10 lg:py-5 md:px-10 md:py-5 px-5 py-5 rounded-lg hover:scale-105 transition duration-300 ease-in-out">
                <img class="h-auto rounded-lg" src="cc-about.png" alt="Cookie Corner - About page">
                
            </div>
        </div>
        
        <div class="mt-5">
            <div class="bg-red-200 dark:bg-gray-800 lg:px-10 lg:py-6 md:px-10 md:py-5 px-5 py-5 rounded-lg hover:scale-105 transition duration-300 ease-in-out">
                <img class="h-auto rounded-lg" src="cc-team.png" alt="Cookie Corner - Team page">
            </div>
        </div>

      </div>

      <br><br>

      
</section>


