<section class = "bg-orange-50 dark:bg-slate-600">
    <h2 class = "proj text-center pt-10 text-2xl lg:text-3xl md:text-3xl text-neutral-400 dark:text-zinc-300" data-aos="zoom-in-up" >PROJECT - 2024</h2>
    <h1 class = "proj text-center pt-5 pb-5 text-4xl md:text-5xl lg:text-6xl project" style = "color:#f3bec9;" data-aos="zoom-in-up"> </h1>
    <br>
    <div class = "bg-violet-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="ge-home.jpg" alt="GabbieEats Home Page">
        </div>
    </div>
    

    <section class="text-gray-600 body-font dark:text-zinc-300 lg:mx-40 md:mx-20 mx-5" data-aos="zoom-in-up">
        <div class="container lg:px-24 lg:py-20 p-10 mx-auto flex flex-wrap">
            <div class = "md:w-2/5 mb-2 ">
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#747eb1;">ROLE:</h3>
                <p class = "proj text-xl dark:text-stone-200">Wordpress Developer</p>
                <h3 class=" text-2xl  font-medium dark:text-stone-200 proj pt-3" style = "color:#747eb1;">LIVE:</h3>
                <a class = "proj text-xl dark:text-stone-200" href = "https://gabbieeats.wordpress.com/" target="_blank" style = "text-decoration: underline;">GabbieEats</a>
                <h3 class=" text-2xl font-medium dark:text-stone-200 proj pt-3" style = "color:#747eb1;">TOOLS: </h3>
                <p class = "proj text-xl dark:text-stone-200">Wordpress</p>
                <br>
            </div>
            
          
          <div class="md:w-3/5 md:pl-6">
            
            <h3 class=" text-2xl font-medium dark:text-stone-200 proj" style = "color:#747eb1;">This an output for one of my subjects, we were required to use Wordpress to create a personal blog.</h3>
            <br>
            <p class="leading-relaxed text-base dark:text-stone-200 descrip">They allowed us to select a niche or a topic we were interested in when developing this website.  Therefore, as someone who is very fond of exploring new restaurants and cafes, that is the whole concept of my website. I decided to share my experiences through posting blogs on this website.
            </p>
             
          </div>
        </div>
      </section> 

      <div class = "bg-violet-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="ge-blogs.png" alt="GabbieEats Blogs Page">
        </div>
    </div>

    <div class = "bg-violet-200 dark:bg-gray-800 rounded-lg lg:mx-40 md:mx-20 lg:py-10 py-5 mx-5 mt-5 mb-5" data-aos="zoom-in-up" >
        <div class = "flex justify-center  pl-10 pr-10">
            
            <img class="h-auto lg:max-w-3xl rounded-lg" src="ge-binondo.png" alt="GabbieEats Binondo Food Crawl Blog">
        </div>
    </div>

    

      <br><br>

      
</section>


